/*
*ABSTRACT
*/
@use "abstract/variables" as var;
@use "abstract/functions" as funct;

/*
*COMPONENTS
*/
@use "components/grid" as grid;
@use "components/flex" as flex;
@use "components/buttons" as btn;
@use "components/typography" as typo;

/*
*GLOBAL
*/
@import "global/normalize";


/*
* CONTAINER
*/
body{
    @include grid.grid( 100%, 10% 80% 10% );
    background-color: funct.colors(Violet);
    background-image: url("../images/bg-mobile.svg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    min-width: 280px;
    max-width: 350px;
    margin: auto;
    min-height: 700px;
}

/*
*HEADER
*/
header{
    grid-row: 1;
}
.header__figure{
    @include flex.flex-column-nowrap( flex-end,flex-start,default );
    width: 50%;
    height: 100%;
    padding: 1rem 0 0 3rem;
}
.header__figure--img{
    width: 85%;
    height: 85%;
}

/*
*MAIN
*/
main{
    grid-row: 2/3;
    grid-column: 1/3;
    @include grid.grid( 100%, 45% 55% );
}


/*
*SECTION 1
*/
.section--1{
    grid-row: 1;
    &__figure{
        @include flex.flex-row-nowrap ( center,center,default );
        width: 100%;
        height: 100%;
        &--img{
            width: 85%;
            height: 80%;
            grid-row: 2;
        }
    }
}

/*
*SECTION 2
*/
.section--2{
    @include flex.flex-column-nowrap ( flex-start,center,1.5rem );
    text-align: center;
    padding:  0 3rem 0 3rem;
    grid-row: 2;
    &__button{
    @include btn.btn-main;
    }
    @include typo.typo ("title", 2rem, white, auto, var.$Headings);
    @include typo.typo ("review", 1.4rem, white, 2.5rem, var.$Body);
}


/*
*FOOTER
*/
footer{
    @include flex.flex-row-nowrap ( center,flex-start,2rem );
    grid-row: 3;
}
.footer__figure{
    @include btn.btn-footer
}

/*
*MEDIA QUERIES
*/
@media screen and (min-width: 320px) {
    .section--2__button{
        margin-top: 2rem;
    }
}